<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template report0</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <h3 style="font-family: Arial, sans-serif;" class="text-center"><strong>Reporte de Generación de usuarios</strong></h3>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th style="font-family: Arial, sans-serif;" class="text-center">Nro</th>
            <th style="font-family: Arial, sans-serif;">Nombre</th>
            <th style="font-family: Arial, sans-serif;" class="text-center">Usuario</th>
            <th style="font-family: Arial, sans-serif;" class="text-center">Contraseña</th>
        </tr>
    </thead>
        <tbody>
          {{#each result}}
          <tr>
            <th style="font-family: Arial, sans-serif;" scope="row" class="text-center">{{@key}}</th>
            <td style="font-family: Arial, sans-serif;" class="text-capitalize">{{this.nombre}}</td>
            <td style="font-family: Arial, sans-serif;" class="text-center">{{this.usuario}}</td>
            <td style="font-family: Arial, sans-serif;" class="text-center">{{this.contrasenia}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</body>
</html>