body{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-fluid{
    height: 100vh;
}
.form{
    max-width: 350px;
    padding: 20px 15px;
    border-radius: 5px;
    background-color: white;
}
.respirar{
    height: 400px;
    transition: all 0.3s ease-in-out;
    
}
.respirar:hover{
    transform: scale(1.1);
}