<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Usuarios</title>
    <!--LOCAL STYLES-->
    <link rel="stylesheet" href="/css/bootstrap-lumen.min.css">
    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/alertify.min.css">
    <link rel="stylesheet" href="css/default.min.css">
    <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
    <%- include("../../views/fragments/navbar", {rol : 1, usuarios : true, cursos : false, analiticas : false}) %>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col">
                    <button onclick="limpiarModal()" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalUsuario">
                        Agregar nuevo
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                        </i>
                    </button>
                </div>
                <div class="col">
                    <div class="input-group justify-content-end">
                        <input id="buscar" type="text" class="form-control" style="max-width: fit-content;"
                            placeholder="Ingrese nombre" autocomplete="off">
                        <button class="btn btn-success">
                            <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg></i>
                            Buscar
                            Usuario</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3">
                    <div class="card bg-secondary">
                        <div class="card-body">
                            <h4 class="text-center">Resetear Contraseña</h4>
                            <p>Devuelve la constraseña a sus valores por defecto: <span class="badge bg-info">Apellido
                                    Paterno</span></p>
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                Debe Ingresar el <strong>Usuario</strong> de la cuenta a
                                <strong>Resetear</strong>
                            </div>
                            <div class="mt-3">
                                <div class="form-group mb-3">
                                    <label for="Nombre" class="form-label">Usuario</label>
                                    <input id="reset" type="text" class="form-control" placeholder="Ingrese usuario"
                                        autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button onclick="resetear()" class="btn btn-warning" style="width: 100%;">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                                                <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                              </svg>
                                        </i>
                                        Resetear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div id="card-table" class="card pb-5 bg-secondary">
                        <div class="card-body">
                            <div id="msg-notUsers" hidden>
                                <div class="alert alert-dismissible alert-primary">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Ooops aún no tienes usuarios</strong>. Puedes agregar uno con el boton
                                    <strong>Agregar Nuevo</strong>.
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nro</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col">Sexo</th>
                                        <th scope="col">Fecha Creación</th>
                                        <th scope="col" class="text-end">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-rows">
                                    <div id="pagination" class="row" style="width: 100%;position: absolute;bottom: 0;">
                                        <ul class="pagination justify-content-center">
                                            <div id="paginas" class="d-flex">
                                            </div>
                                        </ul>
                                    </div>
                                </tbody>
                            </table>
                            <div id="origin-table" class="text-center" hidden>
                                <button onclick="listUsers(1)" class="btn btn-warning">
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
                                          </svg>
                                    </i>
                                    Regresar
                                </button>
                            </div>

                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="modalUsuario" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Agregar/Editar Usuario
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form action="" class="form">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group mb-3">
                                                        <label for="Nombre" class="form-label">Nombre</label>
                                                        <input id="nombre" type="text" class="form-control"
                                                            autocomplete="off" required>
                                                        <input id="id" type="text" hidden>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3">
                                                        <label for="Apellido1" class="form-label">Apellido
                                                            Paterno</label>
                                                        <input id="apellido1" type="text" class="form-control"
                                                            autocomplete="off" required>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3">
                                                        <label for="Apellido2" class="form-label">Apellido
                                                            Materno</label>
                                                        <input id="apellido2" type="text" class="form-control"
                                                            autocomplete="off" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group mb-3">
                                                        <label for="Telefono" class="form-label">Telefono (Opcional)</label>
                                                        <input id="telefono" type="text" class="form-control"
                                                            autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group mb-3">
                                                        <label for="Sexo" class="form-label">Sexo</label>
                                                        <select id="sexo" name="sexo" class="form-select"
                                                            aria-label="Default select example">
                                                            <option selected disabled>Seleccionar</option>
                                                            <option value="M">Masculino</option>
                                                            <option value="F">Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="message-modal" class="alert alert-dismissible alert-warning" hidden>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                                    <ul id="no-valido">

                                                    </ul>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button id="modal-btn" type="button" class="btn btn-primary"
                                                onclick="validar_saveUser()">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/alertify.min.js"></script>
        <script src="js/usuarios/admUser.js"></script>
        <script>
            function xtrim(cadena){
                let aux = "";
                for (let i = 0; i < cadena.length; i++) {
                    if(cadena[i]!=" "){
                        aux += cadena[i]
                    }     
                }
                return aux;
            }
            function trim_start(cadena){
                let aux = "";
                let flag = false;
                for (let i = 0; i < cadena.length; i++) {
                    if(cadena[i]!=" "){
                        flag = true;
                        if(flag){

                        }
                    }
                }
            }
            function validar_saveUser() {
                let nombre = $("#nombre").val();
                nombre = nombre.trimStart();
                nombre = nombre.trimEnd();
                let apellido1 = $("#apellido1").val();
                apellido1 = xtrim(apellido1);
                let apellido2 = $("#apellido2").val();
                apellido2 = xtrim(apellido2);
                let telefono = $("#telefono").val();
                telefono = xtrim(telefono);
                let sexo = $("#sexo").val();
                let arr = [];
                if(!(nombre.length>1)){
                    arr.push("El campo nombre debe tener mas de 1 caracter");
                }
                if(!(apellido1.length>1)){
                    arr.push("El campo apellido1 debe tener mas de 1 caracter");
                }
                if(!(apellido2.length>1)){
                    arr.push("El campo apellido2 debe tener mas de 1 caracter");
                }
                if(arr.length>0){
                    let template = "";
                    arr.forEach(element => {
                        template += `<li>${element}</li>`;
                    });
                    $("#message-modal").removeAttr("hidden");
                    $("#no-valido").html(template);
                }else{
                    $("#message-modal").attr("hidden", "");
                    saveUser();
                    window.location.href = window.location.href;
                }
            }
        </script>
</body>

</html>