<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuimTutor</title>
    <link rel="stylesheet" href="css/bootstrap-lumen.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="text-center"><strong>Test de estilos de aprendizaje</strong></h1>
                <p class="text-center">
                    En la actualidad de ha establecido que exiten al menos 3 tipos de aprendizaje
                </p>
                <div class="text-center">
                    <span class="badge rounded-pill bg-primary">Visual</span>
                    <span class="badge rounded-pill bg-secondary">Auditivo</span>
                    <span class="badge rounded-pill bg-success">Kinestésico</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center mt-3">
                    <a href="/logout">Salir</a>
                </div>
            </div>
        </div>
        <br>
        <div class="bg-primary py-2 ps-2 text-light" style="font-size: xx-large;">
            <strong>Inicio del test</strong>
        </div>
        <div class="mt-4">
            <form action="/tutor/style" method="post" class="form">
                <div id="form-quizz">
                    
                </div>
                <div class="text-center pb-5 pt-5">
                    <input class="btn btn-primary" type="submit" value="Puntuar Test">
                </div>
            </form>
            
        </div>
    </div>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tutor/pagina_learning_style.js"></script>
</body>

</html>